@font-face {
    font-family: 'Trajan Pro';
    src: url('fonts/subset-TrajanPro-Regular.woff2') format('woff2'),
        url('fonts/subset-TrajanPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

